#carouselExampleIndicators{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    border: slategrey 1px solid;
}

.carousel-item{
    max-height: 400px;
}
.carousel {
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
}

.card{
    width:50%;
}