#carouselExampleIndicators{
    margin-right: 10%;
    margin-left: 10%;
    
}

.carousel-control-prev-icon ,.carousel-control-next-icon{
   border: solid 2px black;
   border-radius: 50%;
}

.carousel-inner{
    height: 600px;
}
